.countryList{
    padding: 10px;
    border: 1px solid;
    border-left: 4px solid #c8c805;
    border-radius: 5px;
    width: 100%;
    max-width: 30%;
    justify-self: center;
    background-color: #ececec;
}

.message{
    width: 100%;
    background-color: #2d3439;
}

